<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uthai.mapper.TbSerEmpMapper" >
  <resultMap id="BaseResultMap" type="com.uthai.po.TbSerEmp" >
    <id column="ser_emp_id" property="serEmpId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="ser_status" property="serStatus" jdbcType="VARCHAR" />
    <result column="ser_emp_name" property="serEmpName" jdbcType="VARCHAR" />
    <result column="tel_number" property="telNumber" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="we_chat" property="weChat" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ser_emp_id, create_date, ser_status, ser_emp_name, tel_number, address, we_chat, 
    open_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uthai.po.TbSerEmpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_ser_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_ser_emp
    where ser_emp_id = #{serEmpId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_ser_emp
    where ser_emp_id = #{serEmpId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.uthai.po.TbSerEmpExample" >
    delete from tb_ser_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uthai.po.TbSerEmp" >
    insert into tb_ser_emp (ser_emp_id, create_date, ser_status, 
      ser_emp_name, tel_number, address, 
      we_chat, open_id)
    values (#{serEmpId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{serStatus,jdbcType=VARCHAR}, 
      #{serEmpName,jdbcType=VARCHAR}, #{telNumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{weChat,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uthai.po.TbSerEmp" >
    insert into tb_ser_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serEmpId != null" >
        ser_emp_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="serStatus != null" >
        ser_status,
      </if>
      <if test="serEmpName != null" >
        ser_emp_name,
      </if>
      <if test="telNumber != null" >
        tel_number,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="weChat != null" >
        we_chat,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serEmpId != null" >
        #{serEmpId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serStatus != null" >
        #{serStatus,jdbcType=VARCHAR},
      </if>
      <if test="serEmpName != null" >
        #{serEmpName,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null" >
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uthai.po.TbSerEmpExample" resultType="java.lang.Integer" >
    select count(*) from tb_ser_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_ser_emp
    <set >
      <if test="record.serEmpId != null" >
        ser_emp_id = #{record.serEmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serStatus != null" >
        ser_status = #{record.serStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.serEmpName != null" >
        ser_emp_name = #{record.serEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.telNumber != null" >
        tel_number = #{record.telNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.weChat != null" >
        we_chat = #{record.weChat,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_ser_emp
    set ser_emp_id = #{record.serEmpId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      ser_status = #{record.serStatus,jdbcType=VARCHAR},
      ser_emp_name = #{record.serEmpName,jdbcType=VARCHAR},
      tel_number = #{record.telNumber,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      we_chat = #{record.weChat,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uthai.po.TbSerEmp" >
    update tb_ser_emp
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serStatus != null" >
        ser_status = #{serStatus,jdbcType=VARCHAR},
      </if>
      <if test="serEmpName != null" >
        ser_emp_name = #{serEmpName,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        tel_number = #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null" >
        we_chat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
    </set>
    where ser_emp_id = #{serEmpId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uthai.po.TbSerEmp" >
    update tb_ser_emp
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      ser_status = #{serStatus,jdbcType=VARCHAR},
      ser_emp_name = #{serEmpName,jdbcType=VARCHAR},
      tel_number = #{telNumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      we_chat = #{weChat,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR}
    where ser_emp_id = #{serEmpId,jdbcType=VARCHAR}
  </update>
</mapper>